@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 */

html {
    font-family: 'Roboto', sans-serif;
}


/* main */

body {
    /* height: 210vh; */
}

.background {
    background-image: url(../img/Background.jpg);
    background-size: cover;
    background-position: center;
    height: 50rem;
    width: 100%;
    /* position: fixed; */
    background-attachment: fixed;
}

#carte {
    margin-top: 10rem;
}

.video {
    margin-top: 20rem;
}

.bgmenu {
    background-image: url(../img/japan-tokyo-asian-street-chiyoda-hibiya-low-light-restaurant-restaurants.jpg);
    background-size: cover;
    background-position: center;
    height: 25rem;
    width: 100%;
    /* position: fixed; */
    background-attachment: fixed;
}

.fas {
    margin-left: 10px;
}


/* contactez-nous */


/* choix du motif */